.noto-serif-italic {
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.noto-serif-regular {
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-bold {
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.noto-serif-bold-italic {
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-style: italic;
}
