@font-face {
  font-family: "Playfair Display";
  src: url("../assets/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../assets/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

.playfair-display-italic {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
}

.playfair-display-regular {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-bold {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
}

.playfair-display-bold-italic {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
}
